.quality-promise {
  background: var(--secondary-background);
  border-top: 1px solid var(--separator);
  padding: 3rem 0;
}

.quality-promise__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.quality-promise__title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--foreground);
  font-weight: 700;
}

.quality-promise__list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

/* >= 640px */
@media (min-width: 40rem) {
  .quality-promise__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

/* >= 1024px */
@media (min-width: 64rem) {
  .quality-promise {
    padding: 4rem 0;
  }

  .quality-promise__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .quality-promise__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
